body{
    background-color:#91DDCF;
}

@keyframes move {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.contact-section form * {
    color: #333;
}

